# Environnement virtuel
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Configuration & Secrets (TRÈS IMPORTANT)
.env
instance/
.pytest_cache

# Distribution / Build
dist/
build/
*.egg-info/

# Logs
*.log

# Fichiers système
.DS_Store
Thumbs.db